<!-- Full Page Image Background Carousel Header -->
<header>
    <div class="rwd-video1 padding_video">
        <iframe src="//www.youtube.com/embed/Wnlr00bytN8?wmode=transparent&autoplay=1&loop=1&rel=0&controls=0&showinfo=0&playlist=Wnlr00bytN8" allowfullscreen="" frameborder="0" width="16px" height="9px"></iframe>
    </div>
</header>

<!--About Section-->
<section id="acro" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="h4"><img src="~/Content/images/logo.png" alt="AcroYoga Padova"></h3>
            </div>
        </div>
        <div class="row mt-80">
            <div class="col-md-6 col-md-offset-1 mb-30">
                <p class="lead text-center">"Per noi nel termine AcroYoga la parola Yoga è quella più importante. L'Acrobatica viene integrata con lo Yoga ma non prende il sopravvento. Anzi, permette di arrivare a fare cose di alto livello rimanendo però centrati sugli aspetti fondamentali dello Yoga: la consapevolezza corporea e mentale, il respiro, un modo di muoversi morbido e rilassato, la ricerca di aperture e allineamenti che rispettano le giunture e il corpo in generale." <b>Jacopo Ceccarelli</b></p>
                <div class="spacer-15"></div>
                <p>
                    L'Acro Yoga è una pratica che nasce dall'incontro dello Yoga, il Thai Massage e l'Acrobatica.
                    Unendo la profondità dello yoga, la dinamica divertente delle acrobazie e la delicatezza del massaggio si crea una disciplina fatta di giocosità e benessere, una pratica divertente che porta molti benefici a livello sia fisico che  mentale.
                </p><p>
                    L'acroyoga si svolge in coppia, con sequenze che fluiscono una dopo l'altra al ritmo del respiro, il proprio connesso a quello dell’altra persona, portando a consolidare armonia, condivisione, fiducia reciproca, autostima, senso di responsabilità e la scoperta di nuove risorse interiori.
                </p><p>
                    L'acro Yoga che proponiamo si ispira all'approccio morbido e fluido dell’ Anukalana yoga: l'obbiettivo di questa pratica infatti è quello di fluire con morbidezza e nel rispetto armonioso del corpo, da un'asana all'altra, anche in volo!
                </p>
            </div>
            <div class="col-md-4 mb-30">
                <div class="team-item nf-col-padding">
                    <div class="team-item-img">
                        <img src="~/Content/images/gallery/gallery-0007-small.jpg" alt="" class="img-responsive" />
                        <a href="~/Content/images/gallery/gallery-0007.jpg" rel="group1" class="group">
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>ACROYOGA PADOVA</h5>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
<!-- Team -->
<section id="team" class="ptb ptb-sm-80">
    <div class="container text-center">
        <h3>Chi siamo</h3>
        <div class="spacer-60"></div>
        <!--Team Carousel -->
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura/laura-0016-small.jpg" alt="" />
                            <a href="@Url.Action("laura")">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Quando camminerete sulla terra dopo aver volato, guarderete il cielo perché là  siete stati e là  vorrete tornare</p>
                                        @*<ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                            </ul>*@
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="team-item-info">
                            <a class="navbar-brand" href="@Url.Action("laura")"><h5>Laura Silvestri</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/guido/guido-0011.jpg" alt="" />
                            <a href="@Url.Action("guido")">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Mettersi in discussione, staccare i piedi da terra, gravitare nello spazio senza punti di riferimento ed aspettare che tutto accada</p>
                                        @*<ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>*@
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="team-item-info">
                            <a href="@Url.Action("guido")"><h5>Guido lazzaro</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Team Carousel --->
    </div>
</section>
<!-- End Team -->
<!-- Service Section -->
<!--
<section id="corsi-info" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <h3>I nostri corsi</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                <h5>simply dance con Guido e Laura</h5>
                <p>
                    Mercoledì e venerdì
                    dalle 20 alle 20.30 riscaldamento con anukalana yoga e dalle 20.30 alle 22 acro yoga
                </p><p>
                    Info: Simply Dance <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <a href="tel:+393661897940">366 1897940</a>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:simplydanceschool@gmail.com">simplydanceschool@gmail.com</a>
                </p>
            </div>
            <div class="col-md-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                <h5>blukippe con Guido</h5>
                <p>Martedì e giovedì dalle 20 alle 21.30</p><p>
                    Info: Guido <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <a href="tel:+393356365702">335 6365702</a>
                </p>
            </div>

        </div>
    </div>
</section>-->
<!-- End Service Section -->

<!-- Work Section -->
<section id="work" class="gray-bg dark-bg ptb-sm-80 text-center">
    <div class="spacer-60"></div>
    <div class="container">
        <a href="@Url.Action("gallery")"><h3>Galleria</h3></a>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/gallery/gallery-0003-small.jpg" alt="" class="img-responsive img-thumbnail" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/gallery/gallery-0006-small.jpg" alt="" class="img-responsive img-thumbnail" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/gallery/gallery-0005-small.jpg" alt="" class="img-responsive img-thumbnail" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-60"></div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->
<!-- End Statement Section -->
<!-- Pricing Section -->

<section id="eventi-info" class="ptb ptb-sm-80" ng-show="ShowEvents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="{{getImageUrl(currentEvent.ImageLeft)}}" alt="" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <h3>{{currentEvent.Title}}</h3>
                        <p ng-bind-html="description"></p>
                        <p>
                            <a ng-click="gotoEvent(currentEvent.EventId)" class="btn btn-md btn-black">leggi</a>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div style="text-align:right">
            <span ng-repeat="event in events">
                <a ng-click="changeEvent($index)" class="btn btn-paging btn-black" >{{$index+1}}</a> 
            </span>
        </div>
    </div>
</section>

<!-- Orari Section -->
<section id="orari" class="bg-orologio overlay-dark20 ptb-sm-80 text-center">
    <div class="spacer-75"></div>
    @*<div class="container">
        <a href="@Url.Action("Orari")"><h3>Orari</h3></a>
    </div>*@
    <!-- Orari -->
    <div>
        <div class="row text-white bg-transparent40" >
            <div class="spacer-15"></div>
            Scopri gli orari dei nostri corsi per la prossima stagione
            <div class="spacer-15"></div>
            <a href="@Url.Action("Orari")" class="btn btn-lg btn-black">Orari 2017-2018</a>
            <div class="spacer-15"></div>
        </div>
    </div>
    <div class="spacer-75"></div>
    <!-- End Orari -->
</section>

<div class="spacer-60"></div>

<section id="yoga" class="bg-img23 overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="@Url.Action("yoga")"><h4>ANUKALANA YOGA</h4></a>
                <div class="spacer-15"></div>
                <p>Anukalana significa integrazione ed è il modo più naturale, armonioso e completo di praticare lo Yoga e la Meditazione</p>
                <a href="@Url.Action("Yoga")" class="btn btn-md btn-black">leggi</a>
            </div>
        </div>
    </div>
</section>

<section id="contact-us" class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Scrivici</h3>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- Contact FORM -->
                @using (Html.BeginForm("Index2", "Home", FormMethod.Post, new { @class = "contact-form" }))
                {
                    <!-- IF MAIL SENT SUCCESSFULLY -->
                    <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                    </h6>
                    <!-- END IF MAIL SENT SUCCESSFULLY -->
                    <!-- MAIL SENDING UNSUCCESSFULL -->
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                    </h6>
                    <!-- END MAIL SENDING UNSUCCESSFULL -->
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required>
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Email" required>
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Subject">
                    </div>
                    <div class="form-field-wrapper">
                        <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Your Message" required></textarea>
                    </div>
                    <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Invia Messaggio</button>
                }
                @( ViewBag.Error )
                <!-- END Contact FORM -->
            </div>
        </div>
    </div>
</section>
