@model acroyoga.it.Models.LogOnModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Log On";
}

<h2>Log On</h2>
<p>
    Inserire username e password. (@Html.ActionLink("Registrazione", "Register"))
</p>


@Html.ValidationSummary(true, "Login non riuscito. Correggere gli errori e riprovare.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Informazioni utente</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
