@using acroyoga.it.Models

@model IEnumerable<User> 
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Users";
}
<h2>@(ViewBag.Title)</h2>

<h3>@Html.ActionLink("Create", "UserEdit", new { id = Guid.Empty })</h3>
<table>
<tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>IsActive</th>
    <th>UserName</th>
    <th>Roles</th>
    <th>Application</th>
    <th></th>
</tr>
@foreach (User item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @(item.Roles.Aggregate("", (a, b) => b.Name + (string.IsNullOrEmpty(a) ? "" : ", " + a)))
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Application.Name)*@
        </td>

        <td>
            @Html.ActionLink("Edit", "UserEdit", new { id = item.UserID }) |
            @Html.ActionLink("Delete", "UserDelete", new { id = item.UserID}) |
        </td>
    </tr>
}
</table>